//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

struct {{ module_info.name }}VCTheme {

}

class {{ module_info.name }}ViewController: BaseViewController, {{module_info.name}}ViewInput {

    var output: {{ module_info.name }}ViewOutput!
    var theme: {{ module_info.name }}VCTheme!

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
                
        output.viewIsReady()
    }
    
    // MARK: - {{module_info.name}}ViewInput
    func setupInitialState() {
    
    }
}
