//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import XCTest

@testable import {{ module_info.project_name }}

class {{ module_info.name }}PresenterTest: XCTestCase {

    var presenter : {{ module_info.name }}Presenter!
//     var view : Mock{{ module_info.name }}ViewInput!
//     var router : Mock{{ module_info.name }}RouterInput!
//     var interactor : Mock{{ module_info.name }}InteractorInput!

//${PODS_ROOT}/Cuckoo/run generate --testable "${PROJECT_NAME}" \
//--output "./${PROJECT_NAME}Tests/Modules/{{ module_info.name }}/{{ module_info.name }}Mocks.swift" \
//"${INPUT_MODULES_DIR}/{{ module_info.name }}/View/{{ module_info.name }}ViewInput.swift" \
//"${INPUT_MODULES_DIR}/{{ module_info.name }}/Router/{{ module_info.name }}RouterInput.swift" \
//"${INPUT_MODULES_DIR}/{{ module_info.name }}/Interactor/{{ module_info.name }}InteractorInput.swift" \
//"${INPUT_MODULES_DIR}/{{ module_info.name }}/Interactor/{{ module_info.name }}InteractorOutput.swift" \

    override func setUp() {
        super.setUp()
        
        presenter = {{ module_info.name }}Presenter()
//        view = Mock{{ module_info.name }}ViewInput()
//        router = Mock{{ module_info.name }}RouterInput()
//        interactor = Mock{{ module_info.name }}InteractorInput()
//        presenter.view = view
//        presenter.router = router
//        presenter.interactor = interactor
    }

    override func tearDown() {
//		view = nil
//		router = nil
//		interactor = nil
		presenter = nil

        super.tearDown()
    }
}
