//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ModuleAssembly {

    func configureModuleForViewInput<UIViewController>(viewInput: UIViewController, delegate: {{ module_info.name }}ModuleOutput? = nil) -> {{ module_info.name }}ModuleInput? {

        if let viewController = viewInput as? {{ module_info.name }}ViewController {
            return configure(viewController: viewController, delegate: delegate)
        }
        
        return nil
    }

    private func configure(viewController: {{ module_info.name }}ViewController, delegate: {{ module_info.name }}ModuleOutput?) -> {{ module_info.name }}ModuleInput? {

        let router = {{ module_info.name }}Router()

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router
        presenter.delegate = delegate

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter
        viewController.theme = {{ module_info.name }}VCTheme()
        
        return presenter
    }

}
