//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput, {{ module_info.name }}ViewOutput, {{ module_info.name }}InteractorOutput {

    
    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!
    weak var delegate: {{ module_info.name }}ModuleOutput?

	// MARK: - {{ module_info.name }}ModuleInput methods
	

	// MARK: - {{ module_info.name }}ViewOutput methods
    func viewIsReady() {
		view.setupInitialState()
    }
    
    // MARK: - {{ module_info.name }}InteractorOutput methods
	
}
